@font-face {
    font-family: 'zcoolce';
    font-display: swap;
    src: url('/themes/Butterfly/source/css/zcoolce.ttf') format("truetype");
}

@font-face {
    font-family: 'zcoolit';
    font-display: swap;
    src: url('/themes/Butterfly/source/css/zcoolit.ttf') format("truetype");
}