@font-face {
  font-family: "iconfont"; /* Project id 4365477 */
  src: url('//at.alicdn.com/t/c/font_4365477_lkomx9orc3.woff2?t=1702824241377') format('woff2'),
       url('//at.alicdn.com/t/c/font_4365477_lkomx9orc3.woff?t=1702824241377') format('woff'),
       url('//at.alicdn.com/t/c/font_4365477_lkomx9orc3.ttf?t=1702824241377') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before {
  content: "\e600";
}

.icon-outlook:before {
  content: "\e641";
}

.icon-163:before {
  content: "\e602";
}

.icon-zhihu:before {
  content: "\e675";
}

.icon-bilibili:before {
  content: "\e61f";
}

.icon-luogu:before {
  content: "\e601";
}
